<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center text-dark">
                    <img src="logo.png" alt="Logo" class="mb-3 w-25 h-25">
                    <h4 class="mb-3">ورود</h4>
                </div>
                <div class="card-body">
                    <form class="mx-2" [formGroup]="form">
                        <div>
                            <mat-form-field class="w-100 p-3">
                                <mat-label>نام کاربری</mat-label>
                                <input matInput formControlName="username" r>
                                <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="w-100 p-3">
                                <mat-label>رمز عبور</mat-label>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'عدم نمایش'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="password?.errors?.['required']">رمز عبور را وارد نمائید</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="p-3">
                            <mat-checkbox formControlName="rememberMe">بخاطر سپردن اطلاعات ورود</mat-checkbox>
                        </div>
                        <div class="p-3">
                            <button mat-raised-button color="primary">ورود</button>
                        </div>
                        <div class="text-center mt-5">
                            <a mat-button routerLink=".">فراموشی رمز عبور</a>
     
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>