<h2 mat-dialog-title>ایجاد درخواست</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>عنوان</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md p-2">
                                <mat-radio-group aria-label="نوع درخواست">
                                    <mat-label>نوع درخواست :</mat-label>
                                    <mat-radio-button value="1">Option 1</mat-radio-button>
                                    <mat-radio-button value="2">Option 2</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>شماره درخواست</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>پروژه</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>تیم</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>کاربر مرجع سوالات</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>درخواست مرتبط</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md d-flex justify-content-center p-2">
                                <mat-checkbox class="center">عمومی</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 p-2">
                                <label class="btn btn-light">
                                    <input type="file" (change)="onFileSelected($event)" class="d-none" />
                                    <i class="fa-solid fa-upload"></i>
                                    انتخاب فایل
                                </label>
                            </div>
                            <div *ngIf="selectedFile" class="col-md-9 d-flex justify-content-right align-items-center p-2">
                                <p>فایل انتخاب شده : {{ selectedFile.name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2">
                                <mat-form-field appearance="outline" class="example-full-width w-100">
                                    <mat-label>شرح درخواست</mat-label>
                                    <textarea matInput placeholder="َشرح درخواست را وارد کنید..."></textarea>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md p-2">
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                                    <ngx-editor [editor]="editor" [placeholder]="'متن درخواست را وارد کنید...'"> </ngx-editor>
                                </div>
                            </div>
                        </div>
                        <div mat-dialog-actions>
                            <button mat-raised-button mat-dialog-close color="primary">ثبت</button>
                            <button mat-raised-button mat-dialog-close color="warn">انصراف</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>