<div class="container-fluid center">
    <div class="center">
        <div class="row w-100 p-2">
            <div class="col-sm-4">
                <h2>ایجاد درخواست</h2>
            </div>
        </div>
        <div class="row w-80">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class="w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div class="row w-80">
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div class="row w-80">
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div class="row w-80">
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4"> <mat-form-field appearance="outline" class=" w-100 p-2">
                    <mat-label>نام کاربری</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="username?.errors?.['required']">نام کاربری را وارد نمائید</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="row w-80">
        <div class="col-sm-4-sm-2">
            <button mat-raised-button col-sm-4or="primary">ثبت</button>
        </div>
        <div class="col-sm-4-sm-2">
            <button mat-raised-button col-sm-4or="warn">انصراف</button>
        </div>
    </div> -->
    </div>
</div>