@import '@angular/material/theming';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #205081 50%, white 50%);
}

@font-face {
  font-family: 'IranSans';
  /* Choose a name for your font */
  /* src: url('path/to/font.woff2') format('woff2'), */
  src: url('./app/font/Sans/Sans.woff') format('woff');
  /* Include additional font formats as needed */
  font-weight: normal;
  font-style: normal;
}
$custom-typography: mat-typography-config(
  $font-family: 'IranSans'
);
@include angular-material-typography($custom-typography);