@import '@angular/material/theming';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #205081 50%, white 50%);
}

@font-face {
  font-family: 'Vazirmatn';
//   /* Choose a name for your font */
//   /* src: url('path/to/font.woff2') format('woff2'), */
  src: url('../node_modules/vazirmatn/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-FD-NL-Regular.woff2') format('woff2');
//   /* Include additional font formats as needed */
  font-weight: normal;
  font-style: normal;
}
$custom-typography: mat-typography-config(
  $font-family: 'Vazirmatn'
);
@include angular-material-typography($custom-typography);